:root {
    --lightBlue: #95b8d1;
    --mainwhite: #f5f5f5;
    --mainBlack: #333333;
  }

.max-height {
  min-height: 100vh;
}
body {
  background: var(--lightBlue);
}
.message-container {
  background: var(--mainwhite);
  text-align: center;
  margin:50px 500px ;
  padding: 20px;
}
.message-content {
  color: var(--lightBlue);
}
#btn {
  background: var(--lightBlue);
  color: var(--mainwhite);
}
#btn:hover {
  color: var(--lightBlue);
  color: var(--mainBlack);
}

.feedback {
  display: none;
}

.show {
  display: block;
}


  